
.box-group{
    padding: 0 1rem;
    position: absolute;
    top: 12rem;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;

    &::after {
        content: '';
        clear: both;
        display: block;
    }

    &.without-filter {
        top: 1rem;
    }
}

.box-photo-wrap{
    float: left;
    width: 100%;
    margin-bottom: 1rem;

    &.is-active {
        .box-item-content{
            box-shadow: 0 0 10px rgba($black, 0.2);
        }

        .box-item-content-photo {
            position: relative;
            
            &::after {
                content: '';
                width: 100%;
                height: 5px;
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: $primary-color;
            }
        }
    }
}

.box-item{
    width: 100%;
}

.box-group-wrap {
  &::after {
    content: '';
    clear: both;
    display: block;
  }
}

.box-item-content{
    background-color: white;
    padding: 0.625rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .box-item-name {
        height: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    p {
        max-height: 100%;
        overflow: hidden;
        color: $dark-gray;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }

    &.is-active{

        .box-item-content-text{
            display: block;
        }

        & .box-item-content-photo{
            border-bottom: 0.375rem solid $primary-color;
        }
    }

}

.box-item-content-text{
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    color: black;
    font-size: 0.75rem;
    vertical-align: top;
    position: absolute;
    bottom: 0.25rem;
}

.box-item-content-text-icon{
    display: inline-block;
    width: 1.125rem;
    height: 1.125rem;
    position: relative;
    top: 0.25rem;
    margin-right: 0.625rem;
    background-image: url("/images/icons/paw.svg");
    background-size: 100%;
    
}

.box-item-content-photo{
    height: 10rem;
    box-sizing: border-box;
    background: {
        size: cover;
        position: 50% 50%;
        repeat: no-repeat;
    }
}

@media #{$small-only}, #{$medium-only}{

    .box-photo-wrap{
        width: 100%;
    }
}

@media #{$large-up}{

    .box-photo-wrap{
        width: 50%;
        padding-right: .375rem;
        padding-left: .375rem;
    }
}