
.box-grid-row{
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;

    &::after {
        content: '';
        clear: both;
       display: block;
    }
}

.box-grid-wrap{
    float: left;
}

@media #{$small-only}{
    .box-grid-wrap{
        width: 50%;
    }
}

@media #{$medium-only}{
    .box-grid-wrap{
        width: 25%;
    }
}

@media #{$large-up}{
    .box-grid-wrap{
        width: 20%;
    }
}