
.main-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    background-color: $primary-color;
    line-height: 1rem;
    border-radius: 30px;
    @include font-button($white);
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover{
        background-color: #4b8739;
        color: $white;
    }

    &:focus{
      color: $white;
    }

    &.is-unvisible{
        display: none;
    }
}

.fb-button{
    background-color: $fb-blue;
    font-size: 0.875rem;

    &:hover{
        background-color: #214163;
    }
}

.form-button{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.button-fb-img{
    display: inline-block;
    width: 0.75rem;
    height: 1.25rem;
    background-position: center center;
    background-size: auto 100%;
    background-image: url("/images/icons/facebook-icon.svg");
    background-repeat: no-repeat;
    margin-right: .5rem;
    position: relative;
}

.button-group-row{

    &::after {
        content: '';
        clear: both;
        display: block;
    }
}

.button-group-row-wrap{
    float: left;
    width: 50%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.main-button-white{
    border: solid 1px $primary-color;
    background-color: $white;
    color: $primary-color;

    &:hover{
        background-color: $light-gray;
        color: $primary-color;
    }
}

.main-button-min{
    max-width: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.main-button-transparent{
    background-color: transparent;
    border: solid 1px #ffffff;
    width: 8.5rem;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}

.button-hover-green{

    &:hover{
        background-color: $primary-color;
        border: solid 1px $primary-color;
    }

}

.button-hover-blue{

    &:hover{
        background-color: #2f9ae8;
        border: solid 1px #2f9ae8;
    }
}

.button-hover-orange{

    &:hover{
        background-color: $secondary-color;
        border: solid 1px $secondary-color;
    }

}

@media #{$medium-up}{
    .fb-button{
        font-size: 1rem;
    }
}

@media #{$large-up}{
    .main-button{

        &.is-unvisible{
            display: block;
            visibility: hidden;
        }
    }
}
