



.card-item{
    padding-bottom: calc(100% - 1rem * 2);
    position: relative;
    margin: 0.75rem;
    display: block;

    &:hover{

        .card-content-hide{
            opacity: 1;
        }

        .card-content-dark-hover{

            &::after {
                opacity: 1;
            }
        }
    }
}

.card-content{
    padding: 3rem 1.5rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.03);
    background-size: auto 100%;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

.card-content-no-flex{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-content-dark-hover{

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s;
    }
}

.card-img{
    height: 3rem;
    width: 100%;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.card-text{
    display: inline-block;
    font-size: 1.5rem;
    color: $white;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card-text-shadow{
    text-shadow: 0 0 10px $medium-gray;
}

.card-label{
    text-align: center;
    width: 100%;

    p{
        line-height: 1rem;
        margin-bottom: 0;
    }
}

.card-content-hide{
    background-color: $white;
    transition: opacity 0.3s;
    display: none;
    padding: 0;

    p{
        margin-bottom: 0;
        font-weight: 500;
        line-height: 1.25rem;
        color: $white;
    }

    &.is-active{
        display: block;
    }

    .card-text{
        margin-bottom: 0;
    }
}

.card-text-black{
    color: $black;
    margin-bottom: 0;
    line-height: 1.5rem;
}

.card-content-hide-top{
    position: absolute;
    top: 0;
    width: 100%;
    height: 33.3%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content-hide-bottom-left{
    position: absolute;
    top: 33.3%;
    width: 100%;
    height: 33.3%;
    background-color: $secondary-color;  
    display: flex;
    justify-content: center;
    align-items: center; 
}

.card-content-hide-bottom-right{
    position: absolute;
    top: 66.6%;
    width: 100%;
    height: 33.3%;
    background-color: $primary-color;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content-hide-bottom-img{
    width: 100%;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.card-label-content-img{
    display: inline-block;
    height: 1.375rem;
    width: 1.5rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: relative;
    top: 0.25rem;
    margin-right: .5rem;
}

.card-content-white{
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content-hover{
    transition: all 0.3s;

    &:hover{
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
        top: -0.375rem;
        bottom: 0.375rem;

    }
}

.card-content-white-label{
    text-align: center;
    div{
        text-align: center;
        line-height: 1.25rem;
    }
    p{
        text-align: center;
        margin-bottom: 0;
        line-height: 1.25rem;
    }
}

.card-text-dark{
    color: $dark-gray;
}

.card-text-green{
    color: $primary-color;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.card-content-white-icon{
    width: 100%;
    height: 2.625rem;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.card-label-min-bottom{
    position: absolute;
    bottom: 0.75rem;
    left: 0;
    padding: 0 1rem;
    line-height: 1.5rem;

    .card-text{
        margin-bottom: 0;
        text-align: left;
    }

    p{
        margin-bottom: 0;
        color: $white;
        text-align: left;
        font-weight: 500;
    }
}

//img

.looking-man{
    background-image: url("/images/others/looking-man.jpg");
}

.man-and-river{
    background-image: url("/images/others/man-and-river.jpg");
}

.tour-map{
    background-image: url("/images/others/map.jpg");
}

.asia{
    background-image: url("/images/others/asia.jpg");
}

.africa{
    background-image: url("/images/others/africa.jpg"); 
}

.america{
    background-image: url("/images/others/america.jpg");
}

.australia{
    background-image: url("/images/others/australia.jpg");
}

.europe{
    background-image: url("/images/others/europe.jpg");
}

.taj-mahal{
    background-image: url("/images/others/unesco_2.jpg");
}

.blue-country{
    background-image: url("/images/others/nature_2.jpg");
}

.city{
    background-image: url("/images/others/town_2.jpg");
}

.egypt-ruin{
    background-image: url("/images/others/historic_2.jpg");
}

.glass-pyramid{
    background-image: url("/images/others/museum_2.jpg");
}

.construction{
    background-image: url("/images/others/factory_2.jpg");
}

.view{
    background-image: url("/images/others/view_2.jpg");
}

.man-on-skate{
    background-image: url("/images/others/sport_2.jpg");
}

.building-in-fog{
    background-image: url("/images/others/culture_2.jpg");
}

.park{
    background-image: url("/images/others/park_2.jpg");
}


//icons

.flag{
    background-image: url("/images/icons/flag-white.svg"); 
}

.silver-flag{
    background-image: url("/images/icons/flag-grey.svg");     
}

.gold-flag{
    background-image: url("/images/icons/flag-gold.svg");     
}

.medal{
    background-image: url("/images/icons/white-medal.svg");
}

.silver-medal{
    background-image: url("/images/icons/silver-medal.svg");
}

.gold-medal{
    background-image: url("/images/icons/gold-medal.svg"); 
}

.like{
    background-image: url("/images/icons/like-white.svg");
}

.like-green{
    background-image: url("/images/icons/like.svg");    
}

.photo-and-plus{
    background-image: url("/images/icons/camera-plus.svg");
}

.check{
    background-image: url("/images/icons/check.svg")
}

.cards-arrow{
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("/images/icons/arrow-down-white.svg");
    background-size: 1rem auto;
    background-repeat: no-repeat;
    background-position: center center;
}

@media #{$small-only}, #{$medium-only}{

    .card-content-min-height{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

@media #{$medium-up}{

    .card-content-hide-top{
        height: 50%;
    }

    .card-content-hide-bottom-left{
        width: 50%;
        height: 50%;
        top: 50%;
        left: 0;
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .card-content-hide-bottom-right{
        width: 50%;
        height: 50%;
        top: 50%;
        right: 0;
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .cards-arrow{
        display: none;
    }

    .card-text{
        display: block;
        margin-bottom: 0.125rem;
    }
}

@media #{$small-only}{
    .card-item{
        margin: 0.5rem;
    }
}

@media #{$large-up}{
    
    .card-content{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}


