

.grid-wrap{
    width: 100%;

    &::after {
        content: '';
        clear: both;
        display: block;
    }
}

.grid-wrap-item{
    position: relative;
    float: left;
    height: auto;
    min-width: 151px;
}

.grid-wrap-item-small-height{
    height: calc(50vh - 6.875rem / 2)
}

@media #{$small-only}, #{$medium-only}{
    .grid-wrap-reverse{

        .grid-wrap-item{

            float: right;
        }
    }

    .grid-wrap-item-min-height{
        min-height: 30rem;
    }
}


@media #{$small-up}{

    .small-one-of-one{
        width: 100%;
    }

    .small-one-of-two{
        width: 50%;
    }

}

@media #{$medium-only}{

    .medium-one-of-one{
        width: 100%;
    }

    .medium-one-of-two{
        width: 50%;
    }

    .medium-one-of-three{
        width: 33.3%;
    }
}

@media #{$large-up}{
    .grid-wrap-item{
        height: calc(100vh - 5rem);
    }

    .grid-wrap-item-small{
        height: calc(100vh - 6.875rem);
    }

    .grid-wrap-item-smaller{
    height: calc(50vh - 6.875rem / 2)
    }

    .large-one-of-three{
        width: calc(100% / 3);
    }

    .large-one-of-five{
        width: 20%;
    }

    .large-one-of-nine{
        width: 11.1%;
    }
}