
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@mixin font-button($color){
    color: $color;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

@mixin font-heading($color){
    font-size: 1.625rem;
    color: $color;
}

@mixin font-basic{
    font-size: 1rem;
    color: $black;
}

