
.footer-landing{
    width: 100%;
    background-color: $primary-color;
    color: $white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer-landing-content{ 
    text-align: center;
}

.footer-landing-logo{
    position: static;
    left: auto;
    top: auto;
    margin-left: auto;
    margin-right: auto;
}

.footer-landing-icon-group{

}

.footer-landing-icon{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-size: auto 100%;
    margin-left: 0.375rem;
    margin-right: 0.375rem;
}

.icon-facebook{
    background-image: url("/images/icons/facebook.svg")
}

.icon-instagram{
    background-image: url("/images/icons/instagram.svg");
}

.icon-twitter{
    background-image: url("/images/icons/twitter.svg");
}

@media #{$large-up}{

    .footer-landing{
        height: 7rem;
        padding-right: 5rem;
        padding-left: 5rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    .footer-landing-content{
        position: relative;
        text-align: center;
    }

    .footer-landing-icon-group{
        display: inline-block;
        position: relative;
        top: 3rem;
    }

    .footer-landing-logo{
        position: absolute;
        left: 0;
        top: 2.75rem;
    }

    .footer-text{
        position: absolute;
        right: 0;
        font-size: 0.75rem;
        top: 3.125rem;
    }
}
