

.form{
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    overflow-y: auto;
    z-index: 4;

    &.is-active{
        display: block;
    }
}

.form-content{
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    max-width: 24rem;
    padding: 1.5rem; 
    overflow: auto;
    position: relative;

    p{
        text-align: center;
        font-weight: 500;
    }
}

.form-logo{
    width: 100%;
    height: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    background-image: url("/images/brands/logo-green.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.form-back{
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/images/icons/cross-green.svg");
    top: 1rem;
    right: 1rem;
}

.a-on-right{
    display: block;
    text-align: right;
    margin-bottom: 1rem;
}

.input-group{
    display: flex;
    align-items: center;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.input-row{
    margin-bottom: 1rem;
    width: 100%;
}

.input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $light-gray;
    box-shadow: none;

     &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $black;
    }  

    &::-moz-placeholder { /* Firefox 19+ */
        color: $black;
    }

    &:-ms-input-placeholder { /* IE 10+ */
        color: $black;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: $black;
    }

    &:focus{
        border: none;
        border-bottom: 1px solid $primary-color;
    }
}

.form-p{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    @include font-basic;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-weight: 500;
}

.error-text{
    color: $alert-color;
    margin-bottom: 0;
    position: relative;
    top: -1rem;
    text-align: left;
    font-size: 0.75rem;
    line-height: 1rem;
    padding-left: 1rem;
    float: left;
    width: 100%;
}

@media #{$medium-up}{
    .error-text{
        padding-left: 7rem;
    }
}

@media #{$large-up}{

    .form-content{
        margin-top: 7.5rem;
    }
}

