
.header-landing{
}

.header-landing-content{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-image: url("/images/backgrounds/header_picture.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow-y: hidden;
    min-height: 30rem;
}


.header-landing-wrap{
    padding-top: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    height: auto;
    position: relative;
}


.header-landing-box{
    width: 100%;
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.header-app-logo{
    width: 100%;
    height: 6rem;
    background-size: auto 100%;
    background-position: center center;
    background-image: url("/images/icons/app-icon.svg");
    background-repeat: no-repeat;

}

.h1-landing{
    color: $white;
    font-size: 2.625rem;
    text-align: center;
}

.header-arrow{
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("/images/icons/arrow-down-white.svg");
    background-size: 1rem auto;
    background-repeat: no-repeat;
    background-position: center center;
}

@media #{$large-up}{

    .header-landing-content{
        padding-top: 0;
    }

    .header-landing-box{
        text-align: left;
        margin-left: 0;
    }

    .header-app-logo{
        background-position: left center;
        margin-bottom: 1rem;
    }

    .h1-landing{
        margin-bottom: 2rem;
    }

    .header-landing-iphone{
        position: absolute;
        bottom: -7rem;
        right: 5rem;
        height: 36.25rem;
        width: 23rem;
        background-size: auto 100%;
        background-position: center center;
        background-image: url("/images/others/header_iphone.png");
    }
}



