

.history-bar{
    width: 100%;
    background-color: $black;
    position: fixed;
    top: 3rem;
    left: 0;
    z-index: 2;
}

.history-bar-content{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    line-height: 0.875rem;
}

.history-bar-item{
    font-size: 0.875rem;
    margin-right: 0.625rem;
    font-weight: 500;
    color: $white;
    
    &.selected{
        font-weight: bold;
    }

    &:hover{
        text-decoration: underline;
        color: $white;
    }
}

@media #{$large-up}{

    .history-bar{
        top: 5rem;
    }
}