
.img-box-group{
    margin-bottom: 0.875rem;

    &::after {
        content: '';
        clear: both;
        display: block;
    }
}

.img-box-item{
    float: left;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.img-box-item-content{
    position: absolute;
    top: 0.5rem;
    bottom: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    background-color: $light-gray;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.img-box-item-delete{
    position: absolute;
    right: 0.375rem;
    top: 0.375rem;
    cursor: pointer;
}

.img-box-item-delete-button{
    width: 2.5rem;
    height: 2.5rem;
    background-color: $black;
     background-image: url("/images/icons/thrash.svg");
    background-size: 40%;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

@media #{$medium-only}{

    .img-box-item{
        width: 33%;
        padding-bottom: 33%;
    }
}

@media #{$large-up}{

    .img-box-item{
        width: 20%;
        padding-bottom: 20%;
    }
}