

.landing-button-group-center{
    text-align: center;
}

.button-landing{
    padding: 0.5rem 1.5rem;
    border: solid $white 1px;
    border-radius: 2rem;
    display: inline-block;
    color: $white;
    font-weight: 500;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    margin-bottom: 1rem;
    transition: background-color 0.2s;

    &:hover{
        background-color: $white;
        color: $black;

        .button-landing-img{
            &::after {
                content: '';
                opacity: 1;
            }
        }

    }
}

.button-landing-img{
    display: inline-block;
    height: 1rem;
    width: 0.875rem;
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 0.125rem;
    margin-right: 0.5rem;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: auto 100%;
        background-repeat: no-repeat;
        opacity: 0;
        
    }
}

.app-store{
    background-image: url("/images/icons/app-store.svg");

    &::after {
        content: '';
        background-image: url("/images/icons/app-store-hover.svg");
    }

}

.play-store{
    background-image: url("/images/icons/play-store.svg");

    &::after {
        content: '';
        background-image: url("/images/icons/play-store-hover.svg");
    }
}

@media #{$large-up}{

    .button-landing{
        margin-right: 0;
        margin-left: 0;

        &:last-of-type{
            margin-left: 1rem;
        }
    }
}

