
.map {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 30rem;
    right: 0;
    bottom: 0;
}

.custom-map-makrer {
    width: 1.875rem;
    height: 1.875rem;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: {
        image: url('/images/icons/paw.svg');
        size: 1.25rem auto;
        position: 50% 50%;
        repeat: no-repeat;
        color: transparent;
    }
    transform: translateX(-50%);
    transform: translateY(-50%);

    span {
      position: relative;
      bottom: -1rem;
      white-space: nowrap
    }

    &[data-checkedin="true"] {
        background-image: url('/images/icons/paw-gray.svg');
    }

    &.is-active {
        box-shadow: 4px 4px 10px rgba($black, 0.3);
        background-image: url('/images/icons/paw-white.svg');
        background-color: $primary-color;
    }

    &[data-type="cluster"] {
        width: 3rem;
        height: 3rem;
        background-size: contain;
        background-position: center;
        background-image: url('/images/icons/cluster-pow.png');

        span {
          position: absolute;
          padding: 1px 0.25rem;
          border-radius: .125rem;
          background-color: $white;
          bottom: 0;
          color: $black;
          font-weight: bold;
          font-size: 9px;
        }
    }
}

@media #{$small-only}, #{$medium-only}{
    .map{
        left: 15rem;
        transition: left 0.5s;

        &.is-full-screen{
            left: 0;
        }
    }
}