

.navigation{
    position: fixed;
    width: 100%;
    z-index: 3;
}

.navigation-content{
    width: 100%;
    height: 3rem;
    background-color: $primary-color;
    position: relative;
    border-bottom: 2px solid $secondary-color;
}

.navigation-logo{
    position: absolute;
    top: 0;
    left: 1.5rem;
    top: .625rem;
    width: 8rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("/images/brands/logo-white.svg");

}

.navigation-icon{
    position: absolute;
    width: 2rem;
    top: .625rem;
    right: .875rem;
    z-index: 0;

    .line{
        width: 100%;
        height: 0.25rem;
        background-color: $white;
        margin-bottom: 0.5rem;
        border-radius: 2px;
        transition: width 0.2s;

        &:first-of-type{
            width: 80%;
            margin-left: auto;
        }

        &:last-of-type{
            width: 80%;
            margin-right: auto;
        }

    }

    &:hover{

        .line{

            &:first-of-type{
                width: 100%;
            }

            &:last-of-type{
                width: 100%;
            }
        }
    
    }


}

.navigation-back{
    position: absolute;
    left: 12rem;
    top: .75rem;
    color: $white;
    display: block;

    &:hover{
        color: $white;
    }
}

.navigation-back-icon{
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 1rem;
    width: 0.375em;
    height: 0.875rem;
    background-image: url("/images/icons/arrow-back.svg");
    position: relative;
    top: 0.25rem;
}

.navigation-wrap{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: $primary-color;


    li{
        color: $white;
    }

    a{
        color: $white;
        display: block;
    }
}

.navigation-cross{
    height: 3rem;
}

.cross-content{
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-right: 0.875rem;
    top: 0.875rem;
    margin-left: auto;

    .line{
        width: 100%;
        height: 0.25rem;
        background-color: $white;
        position: absolute;
        border-radius: 2px;
        
        &:first-of-type{
            transform: rotate(45deg);
        }

        &:last-of-type{
            transform: rotate(-45deg);
        }
    }
}

.navigation-profile-photo{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    vertical-align: middle;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media #{$small-only}, #{$medium-only}{

    .navigation-wrap{
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: transform 0.5s;
        height: 100vh;
        width: 100%;

        &.is-active{
            transform: translateX(0);
        }

        li{
            width: 100%;
            text-align: center;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            font-size: 1.5rem;
            border-bottom: 1px solid $secondary-color;
        }
    }

    .header-mutation{
    background-color: $primary-color;
    color: $black;
    text-align: center;
    margin-left: 0;
    position: absolute;
    right: 0;
    top: 16.75rem;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.5s;
    z-index: 4;

    &.is-active{
        transform: translateX(0);
    }
    li{
        display: inline-block;
        text-transform: uppercase;
        
        
        a{
            color: $white;
            font-size: 1.75rem;
        }

        &.is-active{
            
            a{
                color: $secondary-color;
            }
        }
    }
}
}

@media #{$small-only}{
    .navigation-back{
        display: none;
    }
}

@media #{$medium-only}{
    .navigation-wrap{
        width: 50%;
    }

    .header-mutation{
        width: 50%;
    }
}

@media #{$large-up}{

    .navigation-content{
        height: 5rem;
        padding-top: 1.25rem;

    }

    .navigation-logo{
        top: 1.25rem;
    }

    .navigation-back{
        top: 1.5rem;
    }

    .navigation-icon{
        display: none;
    }

    .navigation-item-converse{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        border: solid 1px #fefefe;
        border-radius: 1rem;
    }

    .navigation-wrap{
        text-align: right;
        padding-right: 5.5rem;
        height: 2rem;
        
        &::after {
            content: '';
            display: block;
            clear: both;
        }

        li{
            display: inline-block;
            margin-right: 1rem;
            margin-left: 1rem;
            font-size: 0.875rem;
            position: relative;

            a{
                display: block;
                font-weight: 500;

            }

            &.navigation-cross{
                display: none;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -.5rem;
                left: 0;
                height: 3px;
                width: 0;
                background-color: $white;
                transition: width 0.3s ease-in-out;
            }

            &.is-active{
                &::after {
                    content: '';
                    width: 100%;
                }
            }

            &:hover{

                &::after {
                    width: 100%;
                }

                &.profile-li{

                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

    .header-mutation{
        width: 3rem;
        height: 2rem;
        list-style-type: none;
        border: solid 1px $white;
        background-color: $primary-color;
        overflow: hidden;
        box-sizing: border-box;
        position: absolute;
        top: 1.25rem;
        right: 1rem;
        padding-top: 1.625rem;
        transition: all 0.3s;
        border-radius: 5px;
    
        &:hover{
            height: auto;
            max-height: 5.025rem;
            overflow: visible;
        }

        li{
            padding: 0;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            height: 2rem;
            padding-left: 0.25rem;
            width: 100%;
            display: flex;
            align-items: center;
            a{
                color: $white;
                text-transform: uppercase;
                display: block;
                width: 100%;
                height: 1.6255rem;
                vertical-align: middle;
            }

            &:last-of-type{
                border-bottom:  none;
            }

            &.is-active{
                position: absolute;
                top: -1px;
            }
        }
    }

    .header-mutation-arrow{
        background-image: url("/images/icons/arrow-back.svg");
        width: 1.625rem;
        height: .75rem;
        position: absolute;
        top: 7px;
        right: -0.25rem;
        background-size: auto .75rem;
        background-position: center center;
        background-repeat: no-repeat;
        transform: rotate(-90deg);
    }



}