
.navigation-landing{
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: background-color 0.3s;

    &.is-active{
        background-color: rgba(52, 52, 52, 0.8);
    }
}

.navigation-landing-content{
    width: 100%;
    height: 3rem;
    position: relative;
}

.navigation-landing-logo{
    position: absolute;
    top: 0;
    left: 1.5rem;
    top: .625rem;
    width: 8rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("/images/brands/logo-white.svg");

}

.navigation-landing-icon{
    position: absolute;
    width: 2rem;
    top: .625rem;
    right: .875rem;
    z-index: 0;

    .line{
        width: 100%;
        height: 0.25rem;
        background-color: $white;
        margin-bottom: 0.5rem;
        border-radius: 2px;
        transition: width 0.2s;

        &:first-of-type{
            width: 80%;
            margin-left: auto;
        }

        &:last-of-type{
            width: 80%;
            margin-right: auto;
        }

    }

    &:hover{

        .line{

            &:first-of-type{
                width: 100%;
            }

            &:last-of-type{
                width: 100%;
            }
        }
    
    }


}

.navigation-landing-back{
    position: absolute;
    left: 12rem;
    top: .75rem;
    color: $white;
    display: block;

    &:hover{
        color: $white;
    }
}

.navigation-landing-back-icon{
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 1rem;
    width: 0.375em;
    height: 0.875rem;
    background-image: url("/images/icons/arrow-back.svg");
    position: relative;
    top: 0.25rem;
}

.navigation-landing-wrap{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(52, 52, 52, 1);


    li{
        color: $white;
    }

    a{
        color: $white;
        display: block;
    }
}

.navigation-landing-cross{
    height: 3rem;
}

.cross-content{
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-right: 0.875rem;
    top: 0.875rem;
    margin-left: auto;

    .line{
        width: 100%;
        height: 0.25rem;
        background-color: $white;
        position: absolute;
        border-radius: 2px;
        
        &:first-of-type{
            transform: rotate(45deg);
        }

        &:last-of-type{
            transform: rotate(-45deg);
        }
    }
}

.navigation-landing-profile-photo{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    vertical-align: middle;
    border-radius: 50%;
    background-size: 100%;

}

.header-mutation-landing{
    background-color: transparent;
}

@media #{$small-only}, #{$medium-only}{

    .navigation-landing-wrap{
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        transform: translateX(100%);
        opacity: 0.5;
        transition: all 0.8s;
        height: 100vh;
        width: 100%;

        &.is-active{
            transform: translateX(0);
            opacity: 1;
        }

        li{
            width: 100%;
            text-align: center;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            font-size: 1.5rem;
            border-bottom: 1px solid $light-gray;

            a.menu-item-converse{
                font-size: 2rem;
            }
        }
    }

    .header-mutation-landing{
        top: 21rem;
        transition: all 0.8s;
    }
}

@media #{$small-only}{
    .navigation-landing-back{
        display: none;
    }
}

@media #{$medium-only}{
    .navigation-landing-wrap{
        width: 50%;
    }
}

@media #{$large-up}{

    .navigation-landing{
        padding-top: 2rem;
        transition: all 0.3s;
        padding-right: 8rem;
        padding-left: 5rem;

        &.is-active{
            padding-top: 0;
        }
    }

    .navigation-landing-content{
        height: 4rem;
        padding-top: 1.125rem;

    }

    .navigation-landing-logo{
        top: 1rem;
    }

    .navigation-landing-back{
        top: 1.25rem;
    }

    .navigation-landing-icon{
        display: none;
    }

    .navigation-landing-wrap{
        text-align: right;
        background-color: transparent;
        
        &::after {
            content: '';
            display: block;
            clear: both;
        }

        li{
            display: inline-block;
            margin-right: 1rem;
            margin-left: 1rem;
            font-size: 0.875rem;
            position: relative;

            a{
                display: block;
                font-weight: 500;
                transition: all 0.2s;

            }

            &.navigation-landing-cross{
                display: none;
            }

            &:hover{

                a{
                    color: $black
                }
            }

        }
    }

    .menu-item-converse{
        display: inline-block;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        border: solid 1px $white;
        border-radius: 1rem;

        &:hover{
            background-color: $white;
        }
    }

    .header-mutation-landing{
        top: 17px;
        right: -4rem;
        
        &:hover{
            background-color: rgba(52, 52, 52, 1);
        }
    }

}