
@keyframes hideBar{
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
        display: none;
    }
}

.notification-bar {
    width: 100%;
    position: fixed;
    top: 3rem;
    color: $white;
    text-align: center;
    animation: hideBar 2s ease-out 4s forwards;
    z-index: 4;


    &.success{
        background-color: $primary-color;
    }

    &.fail{
        background-color: $alert-color;
    }

}

.notification-bar-landing{
    top: 0;
}

@media #{$large-up}{
    .notification-bar{
        top: 5rem;
    }
    .notification-bar-landing{
    top: 0;
    }
}