
html, body {
    height: 100%;
}

.pixelmate-demo {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: black;
}

.pixelmate-logo {
    width: 80%;
    max-width: 30rem;
    display: inline-block;

    img {
        width: 100%;
        display: block;
    }
}

.pixelmate-example-grid {
    padding: 3rem 0;
}

.pixelmate-example-block {
    width: 100%;
    height: 10rem;
    margin: 1rem 0;
    padding: 1rem;
    //padding-bottom: 50%;
    background-color: $dark-gray;
}

