

.scroll-disable{
    overflow: hidden;
    height: 100vh;
}
.section-gray{
        background-color: #f4f4f4;
}

.section-content{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section-padding{
    padding-bottom: 3rem;
}

.section-content-side-block{
    width: 100%;
    max-width: 30rem;
    padding: 2rem 1rem;
    position: absolute;
    z-index: 2;
    top: 4rem;
    left: 0;
    bottom: 0;
    background-color: $light-gray;
}

.h1{
    font-size: 1.625rem;
    font-weight: 500;
    max-width: 20rem;
}

.h2{
    margin-bottom: 1rem;
    font-weight: 500;
}

h3{
    font-weight: 500;
}

.section-p{
    max-width: 20rem;
    font-weight: 500;
}

.section-relative{
    position: relative;
}

.section-hr{
    width: 100%;
    height: 1px;
    background-color: darken($light-gray, 6%);

    &.on-bottom{
        bottom: 0;
    }

    &.relative-bottom{
      position: relative;
      bottom: -1.375rem;
    }
}


@media #{$medium-only}, #{$small-only}{

    .section{
        padding-top: 3rem;
    }

    .section-with-secondary-bar{
        padding-top: 4.875rem;
    }

    .section-content-side-block{
        max-width: 15rem;
        top: 3rem;
    }
}

@media #{$small-only}{

    .section-content-side-block{
        transition: transform 0.5s;


        &.is-transform{
            transform: translateX(-100%);
        }
    }
    .section-content-side-block-button{
        position: absolute;
        background-color: $primary-color;
        color:$white;
        transform: rotate(90deg);
        right: -3.625rem;
        top: calc(50% - 3rem);
        padding-left: 1rem;
        padding-right: 1rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center;
        z-index: 3;
    }

    .section-content-side-block-button-icon{
        display: inline-block;
        width: 0.5rem;
        height: 0.75rem;
        margin-right: .5rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-image: url("/images/icons/arrow-back.svg");
        transform: rotate(90deg);
        transition: transform 0.5s;

        &.is-rotate{
            transform: rotate(-90deg);
        }
    }
}

@media #{$medium-up}{
    .section-content-side-block-button{
        display: none;
    }
}

@media #{$large-up}{
    .section{
        padding-top: 5rem;
    }

    .section-with-secondary-bar{
        padding-top: 6.875rem;
    }

    .section-content{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .section-content-side-block {
        box-shadow: 0 0 20px rgba($black, 0.25);
    }

    .section-relative-horizontal-line{
        position: absolute;
        width: 1px;
        background-color: darken($light-gray, 6%);
        top: 0;
        bottom: 1.75rem;
        left: 50%;
    }
}