

.section-landing-content-download{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/backgrounds/forest.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}