

.section-visit-text-with-description{
    display: inline-block;
    position: relative;
    top: -0.6rem;
    margin-left: 1rem;
}

.section-visit-text{
    display: inline-block;
    position: relative;
    top: -1.5rem;
    margin-left: 1rem;
}

.section-visit-photo{
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: $light-gray;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("/images/icons/user.svg");
}

.section-visit-content{
    h3{
        font-size: 1rem;
    }
}

.section-visit-border-bottom{
  border-bottom: 1px solid #000;
}