
.section-raiting{
    width: 10rem;
    text-align: center;
    
}

.section-raiting-content{

    &::after {
        content: '';
        clear: both;
        display: block;
    }
}

.section-raiting-item{
    float: left;
    width: 20%;

}

.section-raiting-item-content{
    width: 1.375rem;
    height: 1.375rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/images/icons/star.svg");

    &.is-active{
        background-image: url("/images/icons/star-active.svg");
    }
}

@media #{$medium-up}{
    .section-raiting{
        position: absolute;
        top: 0;
        right: calc(25% - 5rem);
    }
}