

.section-filter-list-wrap{
    position: relative;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.section-filter-list{
    list-style-type: none;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        top: 1.125rem;
        right: 0.5rem;
        width: 0.625rem;
        height: 0.375rem;
        background-image: url("/images/icons/arrow-down.svg");
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &.is-active{
        bottom: auto;
    }
}

.section-filter-list-item{
    height: 2.5rem;
    font-size: 1rem;
    color: $dark-gray;
    background-color: $white;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    box-sizing: border-box;
}