

.section-profile{
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section-profile-photo{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    overflow: hidden;
    background-color: $light-gray;

    &.help{
      cursor: help;
    }
}

.section-profile-photo-content{
    height: 40%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 60%;
    color: $white;
    display: block;
    cursor: pointer;
    padding-top: .5rem;
    font-weight: 500;
}

.input-file{
    display: none;
}

.email-icon{
    display: inline-block;
    width: 1.875rem;
    height: 1.875rem;
    background-image: url("/images/icons/email-icon.svg");
    background-size: 100%;
    position: relative;
    top: .625rem;
    margin-right: 1rem;
}