

.section-landing{
    position: relative;
}

.section-landing-content{
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.h2-landing{
    font-size: 1.5rem;
    text-align: center;
    color: $dark-gray;
    font-weight: bold;
}

.h3-landing{
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.h4-landing{
    font-size: 2rem;
    color: $white;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
}

.section-landing-world-img{
    width: 100%;
    height: 59vw;
    background-image: url("/images/others/world-map.png");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.section-world{
    position: relative;
}

@media #{$medium-up}{

    .h2-landing{
        margin-bottom: 4.5rem;
    }

    .p-right{
        text-align: right;
    }

    .section-landing-content{
        padding-bottom: 10rem;
    }
}

@media #{$large-up}{

    .section-landing-world-img{
        position: absolute;
        right: 4.75rem;
        top: 0;
        bottom: 0;
        width: 50%;
        height: auto;
    }
}