

.section-form{

}

.section-input{
    border-radius: 1rem;
    border: solid 1px $primary-color;
    color: $medium-gray;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;

    &:focus{
        color: $primary-color;
        border: solid 1px $primary-color;
        box-shadow: none;
    }

    &:disabled{
      cursor: help;
    }
}

.section-label{
    margin-left: auto;
    font-size: 0.875rem;
    color: $dark-gray;
    text-align: left;
}

.checkbox-group{
    &::after {
        content: '';
        clear: both;
       display: block;
    }
}

.checkbox-group-wrap{
    float: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 2rem;
}

.checkbox-label{
    font-size: 0.75rem;
}

.input-checkbox{
    display: none;
}

.checkbox-icon{
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url("/images/icons/checkbox-empty.svg");
    background-size: 100%;
    margin-left: 1rem;
    position: relative;
    top: 0.375rem;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: 100%;
        background-image: url("/images/icons/checkbox-full.svg");
        display: none;
    }
}

.input-checkbox:checked + .checkbox-label{

    .checkbox-icon{
        
        &::after {
            content: '';
            display: block;
        }
    }
}

@media #{$small-only}{

    .section-label{
        padding-left: 1.125rem;
    }
}

@media #{$medium-up}{

    .input-row-clear{
        &::after {
            content: '';
            clear: both;
        display: block;
        }
    }

    .section-input{
        float: left;
        width: 75%;
    }

    .section-label{
        float: left;
        width: 25%;
        padding-right: 1rem;
        padding-top: 0.25rem;
        text-align: right;
    }

}

