

.section-landing-box-wrap{
}

.section-landing-box-wrap-img{
    position: relative;
    height: 30rem;
}

.section-landing-box-content-img{
    background-image: url("/images/others/screen_blue.png");
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.section-landing-box-wrap-text{

    h3{
        text-align: center;
    }

    p{
        font-weight: 500;
        line-height: 1.25rem;
        text-align: center;
    }
}

.section-landing-box-content-text{
    max-width: 24rem;

    h3{
        text-align: center;
    }

    p{
        font-weight: 500;
        line-height: 1.25rem;
        text-align: center;
    }
}

.section-landing-box-one{
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-align: center;

    h3{
        text-align: center;
    }

    p{
        font-weight: 500;
        text-align: center;
    }
}

//img

.screen-flag{
    background-image: url("/images/others/screen_blue.png");
}

.screen-medal{
    background-image: url("/images/others/screen_gold.png");
}

.screen-like{
    background-image: url("/images/others/screen_green.png");
}


@media #{$medium-up}{

    .section-landing-box-wrap-text{
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30rem;
    }

    .section-landing-box-content-text{

        p{
            text-align: left;
        }

        h3{
            text-align: left;
        }
    }

    h3.h3-right{
        text-align: right;
    }

    p.p-right{
        text-align: right;
    }

    .section-landing-box-content-img{
        top: -5.5rem;
        bottom: -5.5rem;
    }
}

@media #{$large-up}{

    .section-landing-box-one{
        padding-top: 12rem;
        padding-bottom: 12rem;

        h3{
            text-align: left;
        }

        p{
            text-align: left;
        }
    }
}
