
// Foundation
@import "foundation";

// Variables
@import "variables";

// PIXELMATE demo
@import "pixelmate-demo";

//fonty
@import "fonts.scss";

//form
@import "form.scss";

//buttons
@import "button-group.scss";

//top-bar
@import "navigation";

//header
@import "header";

//section
@import "section";
@import "section-filter-list";
@import "box-group";
@import "section-raiting";
@import "section-visit";
@import "img-box-group";
@import "section-profile";
@import "section-form";
@import "cards";
@import "box-grid";
@import "map";
@import "history-bar";
@import "custom-grid";

//notification-bar
@import "notification-bar";

//landing
@import "header-landing";
@import "navigation-landing";
@import "section-landing";
@import "landing-button-group.scss";
@import "section-landing-box.scss";
@import "section-landing-download";
@import "footer-landing";

//lightbox
@import "../../../node_modules/lightbox2/dist/css/lightbox"; 


a:focus{
  color: inherit;
  outline: none;
}

@media #{$medium-up}{
  .width-48{
    width: 48%;
    max-width: none;
  }
}